.links {
    display: flex;
}

body {
    background: black;
    color: white;
    font-family: Helvetica;
    margin: 0;
  }

.logo {
    width: 200px;
    max-width: 350px;
    height: 300px;

}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }