:root {
  --background-color: black;
  --pannel-color: rgb(22, 22, 22);
  --accent-color: darkslategrey;
}

.links {
    display: inline-flex;
}


body {
    background-color: var(--background-color);
    color: white;
    font-family: Helvetica;
    margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-evenly;
  width: 500px;
}

.talent-list {
  background-color: var(--pannel-color);
}

.articles {
  background-color: var(--pannel-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.article {
  height: 100px;
  margin-top: 20px;
}



.banner .banner-logo {
  width: 50%;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.banner {
  background-color: white;
}

.small-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin-top: 0;
  color: var(--accent-color);
}

.large-title {
  font-size: larger;
  font-weight: bold;
  color: white;
}

.divider {
  height: 10px;
  background-color: var(--accent-color);
}
.article-divider {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}